@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: white;
    height: 80px;
    margin-top: 20px;
    font-family: "Rubik", cursive;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-color: white;
}
hr{
    border-top: 1px solid #6A4029;
}
header .header-logo{
    display: flex;
    align-items: center;
}
header .header-logo h1{
    font-size: 20px;
    font-weight: bold;
    padding-top: 10px;
    color: #0B132A;
}
header .header-menu ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    padding-top: 15px; 
}
header .header-menu ul li a{
    padding: 0 10px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    color: #4F5665;
}
.header-menu ul li a.active{
    color: #6A4029;
    font-weight: bolder;
}
.header-menu ul li a:hover{
    font-weight: bolder;
    font-size: 17px;
}
header .header-account{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.header-account img{
    height: 20px;
    cursor: pointer;
}
.header-account .search{
    padding: 0 10px;
}
.header-account .chat-notif{
    position: relative;
    padding: 5px;
} 
.header-account .ellipse{
    height: 10px;
    position: absolute;
    left: 0;
}
.header-account .girl-img{
    border-radius: 100%;
    padding: 0 10px;
    height: 25px;
}
.menu-toggle{
    display: none;
    flex-direction: column;
    justify-content: space-between;
    height: 20px;
    position: relative;
    cursor: pointer;
}
.account-toggle{
    display: none;
    position: relative;
    cursor: pointer;
}
.account-toggle img{
    border-radius: 100%;
}
header .menu-toggle span {
    display: block;
    width: 28px;
    height: 3px;
    background-color: #4F5665;
}


/* main ==============================*/
main a.up{
    position: fixed;
    background-color: transparent;
    transform: rotate(180deg);
    right: 0;
    bottom: 0;
    opacity: 0.5;
}
main a.up:hover{
    opacity: 1;
}
main .jumbotron{
    background-image: url(../images/tyler-nix-jE-27l7V3NU-unsplash\ 2.png);
    background-size: cover;
    margin: -20px 0;
    color: white;
    font-family: "Poppins", sans-serif;
}
main .jumbotron .title{
    font-family: "Rubik", cursive;
    display: flex;
    flex-direction: column;
    align-items: center;
}
main .jumbotron .title h1{
    font-weight: 700;
    font-size: 40px;
}
main .jumbotron .select{
    font-weight: 700;
    font-size: 20px;
    cursor: pointer;
}
main .jumbotron .section{
    background-color: white;
    border-radius: 10px;
    color:#895537;
    font-size: 16px;
    margin-bottom: 28px;
}
main .jumbotron section .img{
    display: flex;
    align-items: center;
    justify-content: center;
}
main .jumbotron section img{
    width: 100%;
}
main .jumbotron section .item{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.jumbotron .data .item p.name{
    font-size: 17px;
    color: black;
    font-weight: bolder;
}
main .jumbotron section .check{
    display: flex;
    justify-content: space-between;
}
/* main */


/* footer ============================ */
footer{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(200, 162, 145);
    font-family: "Rubik", cursive;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
footer .footer-des{
    display: flex;
    flex-direction: column;
    flex: 6;
    align-items: center;
}
footer .footer-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
footer .footer-logo h1{
    font-size: 20px;
    font-weight: bold;
    padding-top: 10px;
    color: #0B132A;
}
footer .footer-des p{
    margin: 0 20px;
    margin-top: 20px;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
}
footer .footer-des .img{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
}
footer .footer-des .img span{
    margin: 0 5px;
}
footer .footer-des .img .fb{
    background-image: url(../images/ellipse.png);
    background-size: cover;
    height: 30px;
    width: 30px;
    position: relative;
}
footer .footer-des .img .fb::after{
    content: '';
    background-image: url(../images/fb.png);
    background-size: cover;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
}
footer .footer-des .img .twitter{
    background-image: url(../images/ellipse.png);
    background-size: cover;
    height: 30px;
    width: 30px;
    position: relative;
}
footer .footer-des .img .twitter::after{
    content: '';
    background-image: url(../images/twitter.png);
    background-size: cover;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
}
footer .footer-des .img .ig{
    background-image: url(../images/ellipse.png);
    background-size: cover;
    height: 30px;
    width: 30px;
    position: relative;
}
footer .footer-des .img .ig::after{
    content: '';
    background-image: url(../images/ig.png);
    background-size: cover;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
}
footer .footer-des .copy{
    font-weight: normal;
    margin-bottom: 40px;
    font-size: 16px;
    color: #6A4029;
}
footer section.merge{
    display: flex;
    flex: 7;
}
footer .footer-product{
    display: flex;
    flex-direction: column;
    flex: 8;
    align-items: flex-end;
    margin-right: 40px;
}
footer .footer-product a{
    padding: 8px 0;
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 18px;
}
footer .footer-engage{
    display: flex;
    flex-direction: column;
    flex: 4;
}
footer .footer-engage a{
    padding: 8px 0;
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 18px;
}
footer .footer-product a:hover, footer .footer-engage a:hover{
    color: blanchedalmond;
}
/* footer */

@media screen and (max-width: 768px){
    header .header-menu{
        display: flex;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        position: absolute;
        /* background-color: rgb(148, 121, 109); */
        background-color: rgb(200, 162, 145);
        opacity: 0;
        right: 0;
        top: 120px;
        justify-content: space-around;
        height: 20vh;
        width: 40vh;
        align-items: center;
        transition: all 1s;
    }
    header .header-menu.toggle{
        opacity: 1;
    }
    header .header-account {
        display: flex;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        position: absolute;
        background-color: rgb(200, 162, 145);
        opacity: 0;
        justify-content: space-around;
        left: 0;
        top: 120px;
        height: 8vh;
        width: 20vh;
        align-items: center;
        transition: all 1s;
    }
    header .header-account.toggle2{
        opacity: 1;
    }
    header .header-menu ul{
        flex-direction: column;
    }
    header .header-menu ul li a{
        color: whitesmoke
    }
    header .header-menu ul li a.active{
        color: black;
    }
    .menu-toggle{
        display: flex;
    }
    .account-toggle{
        display: flex;
    }
    main .jumbotron .title h1{
        font-size: 30px;
    }
}
@media screen and (max-width: 576px){
    header .header-menu{
        display: flex;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        position: absolute;
        background-color: rgb(200, 162, 145);
        opacity: 0;
        right: 0;
        top: 120px;
        justify-content: space-around;
        height: 20vh;
        width: 20vh;
        z-index: 1;
        align-items: center;
        transition: all 1s;
    }
    header .header-menu.toggle{
        opacity: 1;
    }
    header .header-account {
        display: flex;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        position: absolute;
        background-color: rgb(200, 162, 145);
        opacity: 0;
        justify-content: space-around;
        left: 0;
        z-index: 1;
        top: 120px;
        height: 8vh;
        width: 20vh;
        align-items: center;
        transition: all 1s;
    }
    header .header-account.toggle2{
        opacity: 1;
    }
    header .header-menu ul{
        flex-direction: column;
    }
    header .header-menu ul li a{
        color: white;
    }
    header .header-menu ul li a.active{
        color: black;
    }
    .menu-toggle{
        display: flex;
    }
    .account-toggle{
        display: flex;
    }
 
    /* main */
    main .jumbotron .title h1{
        font-size: 30px;
    }
    /* main */
 
    /* footer */
    footer{
        display: flex;
        flex-direction: column;
    }
    footer .footer-des{
        flex: 1;
        display: flex;
    }
    footer .footer-des .copy{
        margin-bottom: 40px;
    }
    footer section.merge{
        display: flex;
        justify-content: center;
        flex-direction: row;
        margin-bottom: 40px;
    }
    footer .footer-product a, footer .footer-engage a{
        padding: 5px 0;
    }
    /* footer */
}